body {
  background: peachpuff;
}

* {
  border: 1px solid teal;
  box-sizing: border-box;
}

.container {
  display: flex;
  min-height: 100vh;
  justify-content: stretch;
  flex-wrap: wrap;
}

header {
  width: 100%;
  height: 10em;
  margin-bottom: 1em;
}

.wrapper {
  width: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
}

aside {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
}

aside > div {
  width: 22%;
  background: gray;
  margin: 2vw;
}

main {
  flex-grow: 4;
}


@media (min-width: 600px) {
  .wrapper {
    flex-direction: row;
  }
  aside {
    width: 80%;
    flex: 4;
    align-items: center;
    margin-right: 1em;
  }
  aside > div {
    height: 10em;
  }

  main {
    flex: 2;
  }
}
