body {
  background: blanchedalmond;
}

* {
  border: 1px solid teal;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

header, footer  {
  flex-grow: 1;
}

main {
  flex-grow:3;
}


@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  header {
    width: 100%;
  }
  main, footer, header {
    margin: 1em;
  }
}
